.hidden {
    display: none;
}

h1, h2{
    display: flex;
    justify-content: center;
}

.addFriendForm{
    display: flex;
    justify-content: center;
}

.friendList{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: smaller;
}

#friendTable{
    font-size: x-large;
}

#soonBirthdayFriendTable{
    font-size: x-large;
}

#friendTable td {
    padding-right: 10px;
}

#soonBirthdayFriendTable td {
    padding-right: 10px;
}
